# Get Started
Fork this notebook by hitting the blue "Fork Notebook" button at the top of this page.  "Forking" makes a copy that you can edit on your own without changing the original.

After forking this notebook, run the code in the following cell.

In [1]:
# import package with helper functions 
import bq_helper

# create a helper object for this dataset
open_aq = bq_helper.BigQueryHelper(active_project="bigquery-public-data",
                                   dataset_name="openaq")

# print all the tables in this dataset (there's only one!)
open_aq.list_tables()

['global_air_quality']

Then write and run the code to answer the questions below.

# Question

#### 1) Which countries use a unit other than ppm to measure any type of pollution? 
(Hint: to get rows where the value *isn't* something, use "!=")

In [3]:
query_unit = """SELECT country
                FROM `bigquery-public-data.openaq.global_air_quality`
                WHERE unit!='ppm'
                """
not_ppm = open_aq.query_to_pandas_safe(query_unit)

      country
0          AD
1          AD
2          AD
3          AD
4          AD
5          AD
6          AD
7          AE
8          AR
9          AR
10         AR
11         AR
12         AT
13         AT
14         AT
15         AT
16         AT
17         AT
18         AT
19         AT
20         AT
21         AT
22         AT
23         AT
24         AT
25         AT
26         AT
27         AT
28         AT
29         AT
...       ...
13254      US
13255      US
13256      US
13257      US
13258      US
13259      US
13260      US
13261      US
13262      US
13263      US
13264      US
13265      US
13266      US
13267      US
13268      US
13269      US
13270      US
13271      US
13272      US
13273      US
13274      US
13275      US
13276      US
13277      US
13278      VN
13279      VN
13280      VN
13281      XK
13282      ZA
13283      ZA

[13284 rows x 1 columns]

#### 2) Which pollutants have a value of exactly 0?

In [5]:
query_pollutants = """SELECT pollutant
                        FROM `bigquery-public-data.openaq.global_air_quality`
                        WHERE value=0
                        """
pollutants = open_aq.query_to_pandas_safe(query_pollutants)

    pollutant
0          bc
1          co
2          co
3          co
4          co
5          co
6          co
7          co
8          co
9          co
10         co
11         co
12         co
13         co
14         co
15         co
16         co
17         co
18         co
19         co
20         co
21         co
22         co
23         co
24         co
25         co
26         co
27         co
28         co
29         co
..        ...
881      pm25
882      pm25
883      pm25
884      pm25
885      pm25
886      pm25
887      pm25
888      pm25
889      pm25
890      pm25
891      pm25
892      pm25
893      pm25
894      pm25
895      pm25
896      pm25
897      pm25
898      pm25
899      pm25
900      pm25
901      pm25
902      pm25
903      pm25
904      pm25
905      pm25
906      pm25
907      pm25
908      pm25
909      pm25
910      pm25

[911 rows x 1 columns]

# Keep Going
After finishing this exercise, click [here](https://www.kaggle.com/dansbecker/group-by-having-count/).  You will learn about the **GROUP BY** command and its extensions.  This is especially valuable in large datasets like what you find in BigQuery.

# Help and Feedback 
Bring any comments or questions to the [Learn Discussion Forum](https://www.kaggle.com/learn-forum).

If you want comments or help on your code, make it "public" first using the "Settings" tab on this page.

---

*This tutorial is part of the [SQL Series](https://www.kaggle.com/learn/sql) on Kaggle Learn.*