# Get Started

After forking this notebook, run the code in the following cell:

In [1]:
# import package with helper functions 
import bq_helper

# create a helper object for this dataset
accidents = bq_helper.BigQueryHelper(active_project="bigquery-public-data",
                                   dataset_name="nhtsa_traffic_fatalities")

Then write the code to answer the questions below

# Questions

#### 1) Which hours of the day do the most accidents occur during?
* Return a table showing how many accidents occurred in each hour of the day in 2015, sorted by the the number of accidents which occurred each hour. Use either the accident_2015 or accident_2016 table for this, and the timestamp_of_crash column (there is an hour_of_crash column, but if you use that one you won't get a chance to practice with dates).

**Hint:** You will probably want to use the [EXTRACT() function](https://cloud.google.com/bigquery/docs/reference/standard-sql/functions-and-operators#extract_1) for this.

In [3]:
query_hours = """SELECT COUNT(consecutive_number), EXTRACT(HOUR FROM timestamp_of_crash)
                FROM `bigquery-public-data.nhtsa_traffic_fatalities.accident_2015`
                GROUP BY EXTRACT(HOUR FROM timestamp_of_crash)
                ORDER BY 1 DESC"""
accidents_by_hour = accidents.query_to_pandas_safe(query_hours)

     f0_  f1_
0   1895   18
1   1862   20
2   1838   17
3   1811   21
4   1784   19
5   1686   15
6   1650   16
7   1554   22
8   1513    0
9   1511   14
10  1387   13
11  1334   23
12  1226    1
13  1223   12
14  1207    2
15  1202    6
16  1146    7
17  1126   11
18  1019   10
19  1000    5
20   958    9
21   946    3
22   910    8
23   751    4

#### 2) Which state has the most hit and runs?
* Return a table with the number of vehicles registered in each state that were involved in hit-and-run accidents, sorted by the number of hit and runs. Use either the vehicle_2015 or vehicle_2016 table for this, especially the registration_state_name and hit_and_run columns (it may be helpful to view the hit_and_run column to understand its contents).

In [26]:
query_hit_run = """SELECT COUNT(registration_state_name), hit_and_run
                FROM `bigquery-public-data.nhtsa_traffic_fatalities.accident_2015`
                ORDER BY hit_and_run"""
hit_run = accidents.query_to_pandas_safe(query_hit_run)

Index(['state_number', 'state_name', 'consecutive_number',
       'number_of_vehicle_forms_submitted_all',
       'number_of_motor_vehicles_in_transport_mvit',
       'number_of_parked_working_vehicles',
       'number_of_forms_submitted_for_persons_not_in_motor_vehicles',
       'number_of_persons_not_in_motor_vehicles_in_transport_mvit',
       'number_of_persons_in_motor_vehicles_in_transport_mvit',
       'number_of_forms_submitted_for_persons_in_motor_vehicles', 'county',
       'city', 'day_of_crash', 'month_of_crash', 'year_of_crash',
       'day_of_week', 'hour_of_crash', 'minute_of_crash',
       'national_highway_system', 'land_use', 'land_use_name',
       'functional_system', 'functional_system_name', 'ownership',
       'ownership_name', 'route_signing', 'route_signing_name',
       'trafficway_identifier', 'trafficway_identifier_2', 'milepoint',
       'latitude', 'longitude', 'special_jurisdiction',
       'special_jurisdiction_name', 'first_harmful_event',
       'first_harmful_event_name', 'manner_of_collision',
       'manner_of_collision_name',
       'relation_to_junction_within_interchange_area',
       'relation_to_junction_specific_location',
       'relation_to_junction_specific_location_name', 'type_of_intersection',
       'work_zone', 'relation_to_trafficway', 'relation_to_trafficway_name',
       'light_condition', 'light_condition_name', 'atmospheric_conditions_1',
       'atmospheric_conditions_1_name', 'atmospheric_conditions_2',
       'atmospheric_conditions_2_name', 'atmospheric_conditions',
       'atmospheric_conditions_name', 'school_bus_related',
       'rail_grade_crossing_identifier', 'hour_of_notification',
       'minute_of_notification', 'hour_of_arrival_at_scene',
       'minute_of_arrival_at_scene', 'hour_of_ems_arrival_at_hospital',
       'minute_of_ems_arrival_at_hospital', 'related_factors_crash_level_1',
       'related_factors_crash_level_1_name', 'related_factors_crash_level_2',
       'related_factors_crash_level_2_name', 'related_factors_crash_level_3',
       'related_factors_crash_level_3_name', 'number_of_fatalities',
       'number_of_drunk_drivers', 'timestamp_of_crash'],
      dtype='object')

---
# Keep Going
[Click here](https://www.kaggle.com/dansbecker/as-with) to learn how *WITH-AS* clauses  can clean up your code and help you construct more complex queries.

# Feedback
Bring any questions or feedback to the [Learn Discussion Forum](kaggle.com/learn-forum).

----

*This tutorial is part of the [SQL Series](https://www.kaggle.com/learn/sql) on Kaggle Learn.*