# Get Started

After forking this notebook, run the code in the following cell:

In [1]:
# import package with helper functions 
import bq_helper

# create a helper object for this dataset
bitcoin_blockchain = bq_helper.BigQueryHelper(active_project="bigquery-public-data",
                                              dataset_name="bitcoin_blockchain")

Then write the code to answer the questions below.

#### Note
This dataset is bigger than the ones we've used previously, so your queries will be more than 1 Gigabyte. You can still run them by setting the "max_gb_scanned" argument in the `query_to_pandas_safe()` function to be large enough to run your query, or by using the `query_to_pandas()` function instead.

## Questions
#### 1) How many Bitcoin transactions were made each day in 2017?
* You can use the "timestamp" column from the "transactions" table to answer this question. You can go back to the [order-by tutorial](https://www.kaggle.com/dansbecker/order-by) for more information on timestamps.

In [3]:
query_day = """WITH time AS
            (
            SELECT TIMESTAMP_MILLIS(timestamp) AS trans_time,
                transaction_id
            FROM `bigquery-public-data.bitcoin_blockchain.transactions`
            )
            SELECT COUNT(transaction_id) AS transactions,
                EXTRACT(DAY from trans_time) as day
            FROM time
            GROUP BY 2
            ORDER BY 2"""
daily = bitcoin_blockchain.query_to_pandas(query_day)

    transactions  day
0       10565904    1
1       10829071    2
2       10852871    3
3       10873627    4
4       11004176    5
5       11042501    6
6       11146225    7
7       10910654    8
8       10826264    9
9       10687153   10
10      10653916   11
11      10496454   12
12      10744440   13
13      10930655   14
14      10933017   15
15      10654193   16
16      10839833   17
17      10781694   18
18      10599870   19
19      10693871   20
20      10915593   21
21      10662555   22
22      10664579   23
23      10448783   24
24      10360818   25
25      10362126   26
26      10515456   27
27      10671829   28
28      10234749   29
29       9868372   30
30       5958282   31


#### 2) How many transactions are associated with each merkle root?
* You can use the "merkle_root" and "transaction_id" columns in the "transactions" table to answer this question.

In [9]:
query_merkle_root = """SELECT merkle_root, COUNT(transaction_id) AS transactions
                    FROM `bigquery-public-data.bitcoin_blockchain.transactions`
                    GROUP BY 1
                    ORDER BY 1 DESC"""
merkle = bitcoin_blockchain.query_to_pandas(query_merkle_root)

                                              merkle_root  transactions
0       fffffb5dfc74398b477df3a6e1cd4887234b829c5f0a65...             1
1       ffffd90b6583ee3b428f05dc1b4749a98459f3e3401385...           403
2       ffffaeff4331e9611d98a60347d0e3d01ba26622d4dd4e...             1
3       ffff464382d7ee6fdc8a59a34ffb18811f674c8a4214ff...           781
4       ffff32e6466efe1ac8495a62b17743cc5119cc9597c651...           289
5       ffff3281e25e08c36b6b936f7c430cc0af02f08786b2e7...          1569
6       ffff28c8a72e2d20e5fe40c7bb19698c42de514bbcf342...            33
7       ffff1fbc3b071e4b62f0579ed84084e12ac2464fa85389...             1
8       ffff191001b8059c119538883840a35b59a4fe743a8016...           224
9       fffee65cbfafc8fbdc232d42b1df02c1d402b1e77cd9e7...           922
10      fffedd5058e795dc48c62f93dd3118c8e6b40e0aacab7f...          1603
11      fffecf557b66ecff533a8c9db4abe67ca11bd62143d59d...           355
12      fffeb38cd9d96f043a25ea18ecc12c8b59169cd39b4250...             1
13      fffe9d68d14187cb2fca5424224873bce680f1d7ece308...           822
14      fffe963ce0c7c9bccd0c39eea779ebbdd190f75337b215...           329
15      fffe82f0a521487d068855f36b8d1c394e7e45d0f30e8d...             3
16      fffe7a5f49675e60b6636bb97a7d7fc9a5d73a8ed77fb8...           326
17      fffe7911b6bc3a265cccae4ee81e7130984fcd11dedb98...             1
18      fffe6927ec1da12affa8ff55fcaa0b390fadc8840692a8...           166
19      fffe33a8b5e600b03a85b58d827267e421b0798e5e11ba...          1600
20      fffde33fc7c5b51cd891609080a2c4de1061fb064086bb...             2
21      fffdc4d8dbb9bd179e1a1960979f5d884cdb26969ab8dd...             2
22      fffdc275e46a8886ddbfaf15640ea74865a19996df8b40...            63
23      fffdb639a023a4edb64c365176f0761293421cec238f70...           593
24      fffd935b717fe86b1128d818222c7fa7a93bb633ed281e...           177
25      fffd863c8290efed1cfa334ca9cce0cf42bcaff3d9d154...          2387
26      fffd566d79e07ed691b824a3352dd6fb1c3bbce15c5187...          2424
27      fffd45be76b7d0cbff218f570ddb254d1e3395ebc40f4f...           364
28      fffd11bfd4bdd62fb45e756ef02aa4a5264f7f9ee92d43...           647
29      fffd0679eeac5f067aeec6c6ae098a1f1f4fdb5b1dd6aa...           911
...                                                   ...           ...
530927  00042b5371ab34e507c8236f75d0e061cd54751eeff676...          2269
530928  00042331589227dbe7bedb7a788e740ad926e171b37524...           752
530929  0003bc05bed70d4ab9571694908110c6ccfefd6798f901...           113
530930  0003967aebaa322bdbbf37c071bd7b5e1eca432eecfafd...            39
530931  00034c2f33fa84410410a6ee140b59ca2969d644e19cb4...          2263
530932  00033786bd18d543decb5351534a44e4b8fa24d2e200ca...            81
530933  00032a7cca9a76138eb704e2671f91b8daa0560baa90bc...           667
530934  00031fc3de90ab1a423934936009c2515c3cf0490aaf49...          1267
530935  0002d0c7a0aaee2d45ab22b28fb06e2157365640ea8c24...            28
530936  0002cd0a0642ed592a538c276fcd3bd1b69c91e44d078c...          2781
530937  00029ff99e19cca9594283bfaaf43736ab47654ed76a0f...             1
530938  000295fe0ca3bddec8809f379b878ac66bda107e73e9a0...          1243
530939  000291fa3fbb8f2b9ef059157d7ffa88a4410832f8a55d...             7
530940  000211c85ad4f3a219cb0085e8e84cf90bd0fa70908b80...           333
530941  000206ef1427dde93b52601283f0bee0a24e889ea304b0...           289
530942  0002013ad604f54b8c367d79837ba45f6a877522c9d4d3...            20
530943  0001f561aaae23a6aa61fc1101e6fe0441b53ae721bb75...           335
530944  0001f40610f8faf975bc6ff44f904e69e90c6a52ade161...             3
530945  0001eea5dae8edbc7a937d18a80983737a319605792336...            22
530946  0001c915bed4a48aa0b88fb0e5380f69b4ef3f69c3896d...          1189
530947  0001874f11e0345f008d151df6ee69f933b833572263ab...             1
530948  00016b282c4b93ab64f4e292539d6f481b083848108914...           145
530949  00016518977d8ad874c7e2e6f386b5ad47894874855d9a...           112
530950  0001244b37a1a29c08474b58c0902b7145207eb66132e1...          1942
530951  0000fe7f5c89aa1bb4a9a49a0be1fdf770b19cce3e032b...           218
530952  0000b25729c2ee33b86c1df4c2bb938188b808210f49e0...            44
530953  000060c89f948cbead625da2da954b218f4207b1dbfd67...           146
530954  000046ca59e1dcb0105e7550ba5cffb1441c0272eb6076...           455
530955  000045f372a9865f7ad81c6abe2bb4d4b55f55111abb44...             1
530956  00003d7f2ce31fde801169c6ad44996c3c4a5047c931bb...          2437

[530957 rows x 2 columns]

---
# Keep Going
[Click here](https://www.kaggle.com/dansbecker/joining-data) to learn how to combine multiple data sources with the JOIN command.

# Feedback
Bring any questions or feedback to the [Learn Discussion Forum](kaggle.com/learn-forum).

----

*This tutorial is part of the [SQL Series](https://www.kaggle.com/learn/sql) on Kaggle Learn.*